openai>=1.40.0
google-genai>=1.47.0
python-dotenv>=1.0.1
numpy>=1.26.0
tqdm>=4.66.0
pathlib>=1.0
PyPDF2>=3.0.0
langchain-text-splitters>=0.0.1
faiss-cpu>=1.7.4
ipykernel>=6.29.0
jupyter>=1.0.0
gradio==3.44.4
huggingface_hub==0.20.3
streamlit>=1.39.0
